@{
    ViewBag.Title = "Homale Clean";
}
@Html.Action("MenuSlide", "Menu")
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center">
                <span class="subheading ftco-animate" style="font-size: 29px">HOLAME CLEAN</span>
                <h2 class="mb-4 ftco-animate">Giá trị - Tầm nhìn - Thương hiệu</h2>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify;">
                    Holame là thương hiệu Việt tiên phong trong việc ứng dụng công nghệ sinh học hiện đại vào các sản phẩm chăm sóc và làm sạch gia đình – an toàn cho sức khoẻ, thân thiện với môi trường, và tiện lợi cho người dùng. Với slogan “Thương hiệu Việt dẫn đầu trong ứng dụng công nghệ sinh học vào các sản phẩm làm sạch hiệu quả và an toàn cho gia đình”, Holame ra đời với một mong muốn duy nhất: giúp cho việc chăm sóc tổ ấm trở nên nhẹ nhàng, thông minh và đầy cảm hứng.
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify;">
                    Sứ mệnh của Holame: Lan tỏa cảm hứng chăm sóc và bảo vệ không gian sống cho các gia đình Việt bằng các sản phẩm sinh học an toàn, hướng tới cuộc sống an nhiên, hạnh phúc và bền vững
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify; font-weight: bold; font-family: 'Segoe UI'">
                    👉 Holame ra đời để giúp các gia đình hiện đại:
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify; margin-left: 55px;">
                    - Tối giản thời gian dọn dẹp
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify; margin-left: 55px;">
                    - Yên tâm vì sản phẩm an toàn, không hại da tay
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify; margin-left: 55px;">
                    - Truyền cảm hứng chăm sóc nhà cửa là một niềm vui thiêng liêng, không phải gánh nặng
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify;">
                    Tầm nhìn: Trở thành thương hiệu Việt hàng đầu trong lĩnh vực sản phẩm chăm sóc nhà cửa an toàn và sinh học, góp phần nâng cao chất lượng sống cho mỗi gia đình, gắn kết bền vững với môi trường và cộng đồng
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify;">
                    Giá trị mong muốn đem tới cho Khách Hàng: An Toàn - Chất Lượng - Tiện Ích
                </p>
                <p class="ftco-animate" style="font-size: 19px; text-align: justify;">
                    Giá trị cốt lõi của doanh nghiệp: Trách Nhiệm - Sáng Tạo - Chính Trực - Chất Lượng - Tận Tâm
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center ftco-animate" style="background-image: url(../Content/assets/images/gioithieu.webp);">
                <a href="https://vimeo.com/1070246240?share=copy#t=0" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4" style="font-family: Arial">Cảm nhận của khách hàng về sản phẩm của chúng tôi</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p style="font-size: 17px; text-align: justify;">Khách hàng sau khi sử dụng sản phẩm của chúng tôi đều chia sẻ cảm giác hài lòng về chất lượng và hiệu quả làm sạch vượt trội. Sản phẩm không chỉ giúp tiết kiệm thời gian vệ sinh mà còn mang lại sự an tâm nhờ thành phần an toàn, dịu nhẹ với da tay. Mùi hương dễ chịu, thiết kế tiện lợi và đặc biệt là khả năng đánh bay vết bẩn cứng đầu đã khiến nhiều người tin tưởng và lựa chọn gắn bó lâu dài. Trải nghiệm tích cực từ khách hàng chính là động lực để chúng tôi không ngừng cải tiến và phục vụ tốt hơn mỗi ngày.</p>
                    <p style="font-size: 17px; text-align: justify;">Nhiều khách hàng cho biết họ cảm nhận được sự khác biệt ngay từ lần đầu sử dụng sản phẩm. Không chỉ sạch nhanh, ít tốn công sức, mà còn mang lại cảm giác dễ chịu nhờ mùi hương tươi mát và không gây kích ứng da. Đặc biệt, các gia đình có trẻ nhỏ đánh giá cao tính an toàn và lành tính của sản phẩm, giúp họ yên tâm hơn trong việc chăm sóc tổ ấm. Những phản hồi tích cực ấy chính là minh chứng rõ ràng cho cam kết về chất lượng mà chúng tôi luôn theo đuổi.</p>
                    <p><a href="#" class="btn btn-primary">Shop now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Action("MenuHolame", "Menu")

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4" style="font-family: Arial">
                            HOLAME – TOP 10 THƯƠNG HIỆU VIỆT NAM ƯU TIÊN TIN DÙNG 2024: HÀNH TRÌNH LAN TỎA GIÁ TRỊ SỐNG XANH
                        </h2>
                    </div>
                </div>
                <div class="article-content pb-md-5 ftco-animate">
                    <div class="pb-md-5">
                        <p style="text-align:justify">Ngày 15/12/2024, tại sự kiện Tự Hào Thương Hiệu Việt Nam – Lễ Công bố Thương Hiệu Việt Nam Ưu Tiên Tin Dùng 2024, Holame đã vinh dự được xướng tên. Đây không chỉ là sự công nhận cho hành trình không ngừng sáng tạo và đổi mới, mà còn khẳng định sự tin yêu của hàng triệu gia đình Việt dành cho thương hiệu. Với sứ mệnh tiên phong trong lĩnh vực sản phẩm sinh học an toàn, Holame đang ngày càng lan tỏa giá trị sống xanh, bền vững và hạnh phúc.</p>
                        <img alt="" class="size-full wp-image-1501" src="../Content/assets/images/TIN03192_11zon.webp" style="border-radius:0px; border:none; box-shadow:none; box-sizing:border-box; display:block; height:auto; margin-left:auto; margin-right:auto; max-width:100%; vertical-align:middle; width:1379px" /><em>Holame đạt giải thưởng Top 10 Thương Hiệu Việt Nam Ưu Tiên Tin Dùng 2024 (Đại diện thương hiệu Holame đứng thứ hai từ phải sang)</em><br />
                        <img alt="" class="size-full wp-image-1502" src="../Content/assets/images/AUG09781_11zon.webp" style="border-radius:0px; border:none; box-shadow:none; box-sizing:border-box; display:block; height:auto; margin-left:auto; margin-right:auto; max-width:100%; vertical-align:middle; width:903px" /><em>Giám đốc công ty TNHH Holame chị Nguyễn Thị Hồng Hạnh (Hạnh Lici) đại diện thương hiệu nhận chứng nhận, biểu trưng từ PGS.TS. Nguyễn Văn Cường, Phó Cục trưởng, Cục Hành chính – Quản trị II, Văn phòng Chính phủ và TS Bùi Văn Quyền – Chủ tịch Hội Sáng chế Việt Nam, Nguyên Cục trưởng Cục Công tác phía Nam, Bộ Khoa học và Công nghệ</em>

                        <h5 style="text-align:justify"><strong>Hành trình xây dựng thương hiệu: Từ ý tưởng đến niềm tin yêu của triệu gia đình</strong></h5>


                        <p style="text-align:justify">Holame ra đời với khát vọng đưa các sản phẩm sinh học an toàn đến từng gia đình Việt, góp phần bảo vệ sức khỏe người tiêu dùng và môi trường. Trong suốt hành trình phát triển, Holame kiên định với 4 nguyên tắc vàng:</p>

                        <ul>
                            <li><strong>Chất lượng vượt trội:</strong> Không giảm tiêu chuẩn dù gặp áp lực chi phí.</li>
                            <li><strong>Minh bạch tuyệt đối:</strong> Cam kết cung cấp thông tin rõ ràng về sản phẩm.</li>
                            <li><strong>Tận tâm vì cộng đồng:</strong> Kết nối với người tiêu dùng qua những chương trình ý nghĩa.</li>
                            <li><strong>Bền vững với môi trường:</strong> Đặt trách nhiệm xã hội làm kim chỉ nam.</li>
                        </ul>

                        <h5 style="text-align:justify"><strong>Giá trị cốt lõi làm nên sự khác biệt:</strong></h5>

                        <p style="text-align:justify">Mỗi sản phẩm của Holame không chỉ là giải pháp làm sạch, mà còn chứa đựng sự an tâm nhờ:</p>

                        <ul>
                            <li><strong>Công nghệ sinh học tiên tiến:</strong> Ứng dụng Nano Bạc và enzyme tự nhiên.</li>
                            <li>
                                <strong>Thân thiện với môi trường</strong> Chất liệu tái chế, giảm thiểu rác thải nhựa.<br />
                            </li>
                        </ul>
                        <img alt="" class="size-full wp-image-1504" src="../Content/assets/images/9_3_11zon.webp" style="border-radius:0px; border:none; box-shadow:none; box-sizing:border-box; display:block; height:auto; margin-left:auto; margin-right:auto; max-width:100%; vertical-align:middle; width:556px" /><em>Sản phẩm Holame cam kết sản phẩm thân thiện với môi trường</em>

                        <h5 style="text-align:justify"><strong>Bước ngoặt năm 2024 và những thành tựu nổi bật</strong></h5>
                        <p style="text-align:justify">Giải thưởng Top 10 Thương Hiệu Việt Nam Ưu Tiên Tin Dùng năm 2024 là cột mốc đáng nhớ, khẳng định uy tín của Holame trong lòng người tiêu dùng. Nhưng hơn thế, đây là động lực để thương hiệu không ngừng cải tiến và phát triển.</p>

                        <p style="text-align:justify">
                            Trong năm qua, Holame đã ra mắt thành công các sản phẩm mới ứng dụng công nghệ sinh học như nước giặt đồ lót sinh học với Nano Bạc, nước rửa chén đậm đặc từ enzyme, và Nước tẩy đa năng an toàn, thân thiện với môi trường.
                        </p>

                        <p style="text-align:justify">
                            Đồng hành cùng cộng đồng: Tham gia các chương trình hỗ trợ y tế và bảo vệ môi trường như tặng quà cho các gia đình vùng lũ, hợp tác với bệnh viện trong các sự kiện nâng cao nhận thức về sức khỏe phụ nữ.
                        </p>

                        <p style="text-align:justify">
                            Tăng trưởng mạnh mẽ: Sản phẩm của Holame đã có mặt tại hàng trăm đại lý trên toàn quốc, phục vụ hàng triệu gia đình Việt.
                        </p>
                        <img alt="" class="size-full wp-image-1505" src="https://doanhnhanvietnam.org/wp-content/uploads/2024/12/Anh20.png" style="border-radius:0px; border:none; box-shadow:none; box-sizing:border-box; display:block; height:auto; margin-left:auto; margin-right:auto; max-width:100%; vertical-align:middle; width:550px" /><em>Nhà máy sản xuất Holame đạt chuẩn chứng nhận FDA Hoa Kì</em>

                        <h5 style="text-align:justify"><strong>Cam kết tương lai</strong></h5>

                        <p style="text-align:justify">Không dừng lại ở những thành công hiện tại, Holame hướng tới mục tiêu xây dựng một hệ sinh thái sản phẩm sinh học toàn diện, đáp ứng mọi nhu cầu của gia đình mà vẫn đảm bảo an toàn và thân thiện với môi trường.</p>

                        <p style="text-align:justify">Ngoài việc cải tiến sản phẩm, Holame cam kết sẽ đồng hành với các chương trình xã hội, giảm thiểu rác thải nhựa và tạo thêm giá trị cho cộng đồng.</p>

                        <p style="text-align:justify">Chị Nguyễn Thị Hồng Hạnh, gi&aacute;m đốc c&ocirc;ng ty TNHH Holame, khẳng định:</p>

                        <p style="text-align:justify">
                            <strong>
                                <em>
                                    “Chúng tôi luôn tin rằng mỗi sản phẩm sinh học an toàn mà Holame mang đến không chỉ chăm sóc không gian sống của các gia đình mà còn góp phần bảo vệ môi trường sống chung của cộng đồng.”
                                </em>
                            </strong>
                        </p>
                        <img alt="" class="size-full wp-image-1506" src="../Content/assets/images/15_4_11zon.webp" style="border-radius:0px; border:none; box-shadow:none; box-sizing:border-box; display:block; height:auto; margin-left:auto; margin-right:auto; max-width:100%; vertical-align:middle; width:550px" /><em>Sản phẩm an toàn được chiết xuất từ nguyên liệu thiên nhiên</em>

                        <p style="text-align:justify">
                            <strong>Top 10 Thương Hiệu Việt Nam Ưu Tiên Tin Dùng năm 2024 </strong>là minh chứng cho sự đồng hành của khách hàng và đối tác trong hành trình lan tỏa giá trị sống xanh của Holame.<br />
                            <em>“Hãy cùng chúng tôi xây dựng không gian sống an toàn, hạnh phúc và bền vững cho gia đình bạn!”</em><br />
                            Với Holame, hành trình phía trước không chỉ là về sản phẩm mà còn là về những giá trị bền vững mà thương hiệu muốn mang lại cho cả cộng đồng.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@Html.Action("Menu4", "Menu")
@Html.Action("MenuFeedback", "Menu")

<style>
    .hero-wrap.hero-bread {
        background-image: url('/Content/assets/images/banner8.webp');
    }

    .hero-wrap img {
        max-width: 150px;
        height: auto;
    }

    .subheading {
        font-size: 29px;
    }

    .heading-section h2,
    .heading-section-bold h2 {
        font-family: Arial, sans-serif;
    }


    .article-content {
        font-family: "Segoe UI", sans-serif;
        font-size: 17px;
        line-height: 1.7;
        color: #333;
        text-align: justify;
        padding: 15px;
    }

        .article-content img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 20px auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        }

        .article-content em {
            display: block;
            text-align: center;
            font-style: italic;
            margin-bottom: 25px;
            font-size: 18px;
            color: #777;
        }

        .article-content h5 {
            margin-top: 25px;
            font-weight: bold;
            font-family: "Segoe UI", sans-serif;
            color: #497c3f;
        }

        .article-content ul {
            padding-left: 25px;
            margin-bottom: 25px;
        }

            .article-content ul li {
                margin-bottom: 10px;
            }
</style>
