@model WebBanHangOnline.Models.EF.News
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeyWord = Model.SeoKeywords;
}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 class="mb-3">@Model.Title</h2>
                <p>@Model.Description</p>
                <p>@Html.Raw(Model.Detail)</p>
            </div>
            <div class="col-lg-4 sidebar ftco-animate">
                @Html.Action("PartialRecent", "News")
            </div>
        </div>     
    </div>
</section>