<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-12 heading-section ftco-animate text-center">
                <span class="subheading" style="font-size: 29px">Xác nhận của khách hàng</span>
                <h2 class="mb-4" style="font-family: 'Segoe UI'">Trải nghiệm hài lòng đến từ khách hàng</h2>
                <p style="font-size: 19px">Trải nghiệm của khách hàng với sản phẩm tẩy rửa Holame Clean luôn mang lại sự hài lòng vượt mong đợi. Với công thức an toàn, không gây kích ứng da tay, sản phẩm giúp làm sạch hiệu quả mà vẫn giữ được sự an tâm cho người dùng. Nhiều khách hàng chia sẻ cảm giác yên tâm khi sử dụng cho gia đình, đặc biệt là những gia đình có trẻ nhỏ. Mùi hương dịu nhẹ, dễ chịu cùng khả năng đánh bay vết bẩn nhanh chóng là điểm cộng lớn, khiến họ tin tưởng và gắn bó lâu dài với thương hiệu. Holame Clean không chỉ là sản phẩm, mà còn là trải nghiệm sống sạch và an toàn.</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../Content/assets/images/avatar.webp)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">"Nước rửa chén Holame tạo bọt mềm mại, khử tanh tốt. Sản phẩm rất đáng tin cậy! Tôi sẽ tiếp tục ủng hộ."</p>
                                <p class="name">Chị Hương</p>
                                <span class="position">Hà Nội</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../Content/assets/images/c1.webp)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Tôi dùng nước giặt quần lót Holame Clean cảm thấy rất ưng ý, sạch thơm mà không lo kích ứng da. Sản phẩm chất lượng!</p>
                                <p class="name">Chị Lan</p>
                                <span class="position">Hà Nội</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../Content/assets/images/c2.webp)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Nước rửa tay Holame có hương dịu nhẹ, rửa xong tay vẫn mềm mịn, không bị khô ráp. Cả nhà tôi đều tin dùng.</p>
                                <p class="name">Chị Mai</p>
                                <span class="position">TP.HCM</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../Content/assets/images/anhhung.webp)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Nhà có con nhỏ nên tôi rất kỹ khi chọn sản phẩm. Holame an toàn, không chất độc hại, dùng rất yên tâm.</p>
                                <p class="name">Anh Hưng</p>
                                <span class="position">Cần Thơ</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../Content/assets/images/c3.webp)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Tôi đã thử nhiều loại nước rửa chén, nhưng Holame là lựa chọn tôi hài lòng nhất. Khử mùi tốt, dễ rửa sạch dầu mỡ.</p>
                                <p class="name">Chị Thảo</p>
                                <span class="position">Nha Trang</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>