
<section class="press-section py-5" style="background-color: rgb(220, 255, 243);">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-lg-3 mb-4 ftco-animate">
                <p class="quote">"Holame: Tiên phong trong ngành..."</p>
                <img src="~/Content/assets/images/vn.png" alt="VNExpress" class="img-fluid logo" loading="lazy">
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 ftco-animate">
                <p class="quote">"Công nghệ Slip Layer của Holame..."</p>
                <img src="~/Content/assets/images/dantri.svg" alt="Dân Trí" class="img-fluid logo" loading="lazy">
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 ftco-animate">
                <p class="quote">"Holame và hành trình bảo vệ sức khỏe..."</p>
                <img src="~/Content/assets/images/thanhnien.svg" alt="Thanh Niên" class="img-fluid logo" loading="lazy">
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 ftco-animate">
                <p class="quote">"Holame: Khẳng định chất lượng với công nghệ..."</p>
                <img src="~/Content/assets/images/24h.svg" alt="24h" class="img-fluid logo" loading="lazy">
            </div>
        </div>
    </div>
</section>
<style>
    .press-section {
        background-color: #fff;
        padding: 6em 0;
        position: relative;
    }

        .press-section .quote {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #111;
        }

        .press-section .logo {
            max-height: 60px;
            object-fit: contain;
            filter: grayscale(50%);
        }
</style>
