
<section class="ftco-section" style="background-color: rgb(250, 255, 238)">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3 ftco-animate">
            <div class="col-md-12 heading-section text-center">
                <span class="subheading" style="font-size: 45px">Holame - Top 10 thương hiệu Việt Nam tin dùng 2024</span>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-12 text-center">
                <div class="row">
                    
                    <div class="col-md-6 col-lg-4 ">
                        <div class="product">
                            <a href="https://chatluongvietnam.com/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/" class="img-prod">
                                <div class="product-img-wrapper">
                                    <img class="img-fluid product-img" src="~/Content/assets/images/TIN03192_11zon.webp" loading="lazy"/>
                                </div>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center" style=" background-color: rgb(250, 255, 238);">
                                <h3>
                                    <a href="https://chatluongvietnam.com/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/">
                                        Viện Chất lượng Việt Nam Phù hợp tiêu chuẩn
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 ">
                        <div class="product">
                            <a href="https://doanhnhanvietnam.org/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/" class="img-prod">
                                <div class="product-img-wrapper">
                                    <img class="img-fluid product-img" src="~/Content/assets/images/AUG09781_11zon.webp" loading="lazy"/>
                                </div>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center" style=" background-color: rgb(250, 255, 238);">
                                <h3>
                                    <a href="https://doanhnhanvietnam.org/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/">
                                        Liên Hiệp Khoa Học Doanh Nhân Việt Nam
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 ">
                        <div class="product" >
                            <a href="https://thuonghieutindung.vn/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/" class="img-prod">
                                <div class="product-img-wrapper">
                                    <img class="img-fluid product-img" src="~/Content/assets/images/LKB04152_11zon.webp" loading="lazy"/>
                                </div>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center" style=" background-color: rgb(250, 255, 238);">
                                <h3>
                                    <a href="https://thuonghieutindung.vn/holame-top-10-thuong-hieu-viet-nam-uu-tien-tin-dung-2024-hanh-trinh-lan-toa-gia-tri-song-xanh/">
                                        Thương hiệu Việt Nam Tin Dùng
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>                                     
                </div>
            </div>
        </div>
    </div>
</section>
