
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/Content/assets/images/banner1_11zon.webp)">
        </div>
        <div class="slider-item" loading="lazy" style="background-image: url(/Content/assets/images/z6496989281395_607251ecce0b77c0f3898001244312e7.jpg)">
        </div>
        <div class="slider-item" loading="lazy" style="background-image: url(/Content/assets/images/z6496989281501_41e1d156e9a2b9f3557a860006874968.jpg); ">
        </div>
    </div>
</section>

